on:
  push:
  pull_request:
    branches:
      - master

jobs:
  test_not_update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: check version
        id: check
        uses: chroju/terraform-cloud-updater@master
        with:
          working_dir: ./test
          comment_pr: true
        env:
          TFE_TOKEN: ${{ secrets.TFE_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: result
        run: echo "${{ steps.check.outputs.output }}"
        if: "${{ steps.check.outputs.is_available_update == 'true' }}"
  test_update_and_fail:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: check version
        id: check
        uses: chroju/terraform-cloud-updater@master
        with:
          working_dir: ./test
          force_update: true
          comment_pr: true
        env:
          TFE_TOKEN: ${{ secrets.TFE_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: result
        run: echo "${{ steps.check.outputs.output }}"
        if: "${{ steps.check.outputs.is_available_update == 'true' }}"
